html, body, div, span, object,
menu, article, nav, h1, h2, h3,
h4, h5, h6, p, a, img, b, u, i,
center,dl, dt, dd, ol, ul, li,
table, tr, th, td, header,
footer,summary, applet, iframe
header, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
header, footer{
  display: block;
}

body{
	background-color: #dedede;
}

/*Layout and Grids*/

.container{
	position: relative;
	height: auto;
	min-height: 1rem;
	margin-top: 1rem;


}

.columnTwoThirds{

}

.columnFull{
	height: auto;
	min-height: 1rem;
}

.columnHalf{
	height: auto;
	min-height: 1rem;

}

.columnOneThird{

}

.columnOneFourth{

}

.row{
	width: 100%;
	height: auto;
	min-height: 1rem;
}

/*NavBars*/

.navBar{
	width: 100%;
}

.navBarSimp{

}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

	.navBar{
		position: fixed;
		background-color: #353535;
		top:0;
		height: 3rem;
		z-index: 50em;
	}
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  
}
